* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.disable-dbl-tap-zoom {
    touch-action: manipulation;
}
body {
    background-color: var(--bgc)
}
div.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
}
div.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
div.options p.name, span.text {
    color: var(--text-bgc);
    padding: 20px;
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    font-size: 32px;
    font-weight: bold;
}
div.options span.text {
    padding: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}
div.options div.selection {
    display: flex;  
    position: relative; 
}
div.options div.selection span.nums {
    position: absolute;
    top:-18px;
    right: 0;
    letter-spacing: 6px;
    color: var(--text-bgc);
    font-family: 'Spartan', sans-serif;
    font-size:12px;
    font-size: 12px;
    font-weight: bold;
}
div.options div.box {
    display: flex;
    align-items: center;
    width: 70px;
    height: 25px;
    padding: 5px;
    border-radius: 15px;
    background-color:var(--box-bgc);
}
div.options div.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--dot-color);
    transition: .2s;
}
div.screen {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--screen-bgc);
    overflow-x: scroll;
}
div.screen::-webkit-scrollbar {
    width: 100%;
    height: 5px;
}
p.result {
    width: 100%;
    padding: 20px;
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    color: var(--text-bgc);
}
div.keypad {
    display: flex;
    width: 100%;
    height: 450px;
    padding: 15px;
    background-color: var(--keypad-bgc);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
}
div.keypad button.calc-btn {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: var(--key-bgc);
    flex-basis: 18%;
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: var(--font-color-2);
    -webkit-box-shadow: 0px 6px 0px 0px var(--key-shadow-1);
    -moz-box-shadow: 0px 6px 0px 0px var(--key-shadow-1);
    box-shadow: 0px 6px 0px 0px var(--key-shadow-1);
}

.reset, .equals {
    flex-grow: 1;
}
div.keypad button.calc-btn.delete, div.keypad button.calc-btn.reset {
    font-size: 16px;
    background-color: var(--del-res-bgc) ;
    color: var(--del-res-color); ;
    -webkit-box-shadow: 0px 6px 0px 0px  var(--key-shadow-2);
    -moz-box-shadow: 0px 6px 0px 0px var(--key-shadow-2);
    box-shadow: 0px 6px 0px 0px var(--key-shadow-2) ;
}
div.keypad button.calc-btn.equals {
    background-color: var(--equals-bgc) ;
    color: var(--key-bgc);
    -webkit-box-shadow: 0px 6px 0px 0px  var(--key-shadow-3);
    -moz-box-shadow: 0px 6px 0px 0px var(--key-shadow-3);
    box-shadow: 0px 6px 0px 0px var(--key-shadow-3) ;
}
@media (max-width: 320px) {
    div.keypad button.calc-btn {
        flex-basis: 17%;
    }
}
@media (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        height: 100vh;
    }
}